:root {
    --custom-guild-list-width: 86px !important;
    --custom-channel-textarea-text-area-height: 32px !important;
    --bg-base-tertiary: linear-gradient(179.52deg, #0D0D0D 0.41%, #000000 5.78%) !important;
    --radius-none: 0px;
    --radius-xs: 0px;
    --radius-sm: 0px;
    --radius-md: 0px;
    --radius-lg: 0px;
    --radius-xl: 0px;
    --radius-xxl: 0px;
    --radius-round: 0px;
    --theme-base-color: #0c0c0c;
    --theme-base-color-amount: 100%;
}

/* --lag fix-- */
.guilds_c48ade,
/* server list */
.chatContent_f75fb0,
/* main chat messages container */
.sidebarList_c48ade,
/* channels sidebar with animated banner */
.layerContainer_da8173,
/* app sibling container for overlay elements */
.app__160d8 {
    /* app container */
    contain: strict !important;
}

.typingDots_b88801,
.vc-typing-indicator-dots {
    contain: paint !important;
}

*,
*::before,
*::after {
    border-radius: 0 !important;
}

.svg_cc5dd2>mask,
.svg__44b0c>rect,
.svg__44b0c>circle,
.svg__44b0c rect[mask='url(#:rhi:)'],
.avatar__20a53 .status_a423bd {
    display: none;
}

.mask__68edb>foreignObject,
.svg__44b0c>foreignObject,
.svg__2338f>foreignObject {
    mask: none;
}

.wrapper__44b0c:has(rect)::after {
    content: '';
    display: block;
    position: absolute;
    height: 8px;
    width: 8px;
    bottom: -4px;
    right: -4px;
    border: 2px solid var(--background-base-lower);
}

#app-mount .wrapper__44b0c:has(rect[fill='#40a258'])::after {
    background: #40a258 !important;
}

#app-mount .wrapper__44b0c:has(rect[fill='#d83a41'])::after {
    background: #d83a41 !important;
}

#app-mount .wrapper__44b0c:has(rect[fill='#cc954c'])::after {
    background: #cc954c !important;
}

#app-mount .wrapper__44b0c:has(rect[fill='#82838b'])::after {
    background: #82838b !important;
}

#app-mount .wrapper__44b0c:has(rect[fill='#9147ff'])::after {
    background: #9147ff !important;
}

.lowerBadge_cc5dd2 {
    border: 2px solid var(--background-base-lower);
    bottom: -4px;
    right: -4px;
}

.upperBadge_cc5dd2 {
    border: 2px solid var(--background-base-lower);
    top: -4px;
    right: -4px;
}

.bg__960e4 {
    background: url(https://blade04208.github.io/aider/src/standard-bg.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}


.base_c48ade {
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    background: linear-gradient(180deg, rgba(13, 13, 13, 0.75) 0.41%, rgba(0, 0, 0, 0.75) 5.78%);
    /* background: transparent; */
    background-blend-mode: normal, color-dodge;
    backdrop-filter: blur(47.5px);
}

.guilds_c48ade {
    border-right: 1.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(0, 0, 0, 0.46);
    box-shadow: 1.5px 0px 0px 0px rgba(0, 0, 0, 0.57), 0px 0px 12px 0px rgba(0, 0, 0, 0.43) inset;
}

.sidebarList_c48ade {
    border-right: 1.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(0, 0, 0, 0.40) !important;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.43) inset, 1.5px 0px 0px 0px rgba(0, 0, 0, 0.57) !important;
}

.page_c48ade,
.chat_f75fb0,
.chatContent_f75fb0,
.title_f75fb0,
.themedBackground__74017,
.privateChannels__35e86,
.scroller__99e7c,
.container__2637a {
    background: transparent !important;
    border: none !important;
}

.title_f75fb0 {
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.21) !important;
    background: radial-gradient(67.42% 100% at 50% 0%, rgba(255, 255, 255, 0.19) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.02) 50%, rgba(255, 255, 255, 0.00) 51%), linear-gradient(180deg, rgba(15, 15, 15, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%) !important;
    box-shadow: 0px 0px 0px 1.5px #000, 0px -2.953px 23.627px 2.953px rgba(37, 37, 37, 0.44) inset;
    backdrop-filter: blur(2.5px);
}

.form_f75fb0 {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    background: #202020;
    box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.57), 0px 0px 12px 0px rgba(0, 0, 0, 0.43) inset;
    padding: 6px !important;
}

.channelTextArea_f75fb0 {
    border: 0.738px solid #000;
    background: linear-gradient(180deg, #0F0F0F 0%, #000 100%) !important;
    box-shadow: 0px 2.953px 2.953px 0px rgba(0, 0, 0, 0.81) inset, 0px 0px 0px 0.738px #000, 0px -1.477px 11.814px 1.477px rgba(37, 37, 37, 0.44) inset;
}

.buttonContainer__74017,
.attachButton__0923f,
.channelAppLauncher_e6e74f,
.container_aa63ab {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.05) 100%);
    box-shadow: 0px 0px 0.721px 0px #000 inset, 0px 0.721px 0.36px 0px rgba(0, 0, 0, 0.40) inset, 0px 0.36px 0.36px 0px rgba(255, 255, 255, 0.22), 0px 0px 9.555px 2.389px rgba(0, 0, 0, 0.31) inset, 0px -1.619px 12.953px 1.619px rgba(37, 37, 37, 0.44) inset;
}

.attachButton__0923f {
    width: 32px !important;
    height: 32px !important;
    padding: 0px !important;
}

.containerDefault_c69b6d {
    border-bottom: 0.733px solid rgba(255, 255, 255, 0.10);
    background: linear-gradient(178deg, rgba(255, 255, 255, 0.05) 1.74%, rgba(255, 255, 255, 0.00) 98.26%), #0F0F0F;
    box-shadow: 0px 0px 7.824px 1.956px rgba(0, 0, 0, 0.31) inset, 0px 0px 0px 1.152px rgba(255, 255, 255, 0.06), 0px 0px 0px 0.663px #000, 0px -1.326px 10.607px 1.326px rgba(0, 0, 0, 0.69) inset;
    backdrop-filter: blur(4.889748573303223px);
}

.wrapper__29444 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.05) 100%);
    box-shadow: 0px 0px 7.824px 1.956px rgba(0, 0, 0, 0.31) inset, 0px 0px 0px 1.152px rgba(255, 255, 255, 0.06), 0px 0px 0px 0.663px #000, 0px -1.326px 10.607px 1.326px rgba(37, 37, 37, 0.44) inset;
    backdrop-filter: blur(4.889748573303223px);
}

.progressBarContainer_eff079 {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.05) 100%);
    box-shadow: 0px 0px 1.441px 0px #000 inset, 0px 0.721px 0.721px 0px rgba(255, 255, 255, 0.22);
    overflow: hidden;
    height: 10px;
}

.progressBar_eff079 {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    border-left: 1px solid rgba(255, 255, 255, 0.08);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.00) 50%), linear-gradient(180deg, rgba(88, 101, 242, 0.25) 0%, rgba(232, 126, 253, 0.25) 100%), linear-gradient(90deg, #4B64DD 0%, #E87EFD 100%) !important;
    background-blend-mode: plus-lighter, lighten, plus-lighter, normal;
    box-shadow: 0px 0px 4px 0px #FFF, 0px 0px 16px 0px #E87EFD, 0px 0px 16px 0px #E87EFD, 0px 1px 4px 0px rgba(255, 255, 255, 0.28) inset, 0px -2px 4px 0px rgba(255, 255, 255, 0.32) inset;
    height: 10px;
}

.winButtonsWithDivider_c38106::before {
    display: none;
}

.winButtonClose_c38106 {
    border: 1.5px solid rgba(255, 255, 255, 0.21);
    background: radial-gradient(122.28% 75% at 50% 100%, rgba(255, 47, 47, 0.75) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.55) 2.5%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(171.19% 105% at 50% -5%, #FF2F2F 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.01) 50%), linear-gradient(0deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%), linear-gradient(0deg, rgba(255, 47, 47, 0.32) 0%, rgba(255, 47, 47, 0.32) 100%), rgba(0, 0, 0, 0.20);
    background-blend-mode: plus-lighter, plus-lighter, normal, normal, normal, normal, normal;
    box-shadow: 0px 0px 0.5px 0.5px rgba(255, 255, 255, 0.47), 0px 0px 2px 2px rgba(255, 47, 47, 0.47), 0px 0px 0px 1px rgba(0, 0, 0, 0.63), 0px -1.5px 0.5px 0px rgba(255, 255, 255, 0.26) inset, 0px 1.5px 0.5px 0px rgba(255, 255, 255, 0.26) inset;
}

.winButtonMinMax_c38106:has(>svg>rect[height="9"]) {
    border: 1.5px solid rgba(255, 255, 255, 0.21);
    background: radial-gradient(122.28% 75% at 50% 100%, rgba(175, 255, 47, 0.75) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.55) 2.5%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(171.19% 105% at 50% -5%, #AFFF2F 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.01) 50%), linear-gradient(0deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%), linear-gradient(0deg, rgba(175, 255, 47, 0.32) 0%, rgba(175, 255, 47, 0.32) 100%), rgba(0, 0, 0, 0.20);
    background-blend-mode: plus-lighter, plus-lighter, normal, normal, normal, normal, normal;
    box-shadow: 0px 0px 0.5px 0.5px rgba(255, 255, 255, 0.47), 0px 0px 2px 2px rgba(175, 255, 47, 0.47), 0px 0px 0px 1px rgba(0, 0, 0, 0.63), 0px -1.5px 0.5px 0px rgba(255, 255, 255, 0.26) inset, 0px 1.5px 0.5px 0px rgba(255, 255, 255, 0.26) inset;
    order: -1;
    svg {
        outline: 2px solid white;
    }
}


.winButtonMinMax_c38106:has(>svg>rect[height="1"]) {
    border: 1.5px solid rgba(255, 255, 255, 0.21);
    background: radial-gradient(122.28% 75% at 50% 100%, rgba(255, 175, 47, 0.75) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.55) 2.5%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(171.19% 105% at 50% -5%, #FFAF2F 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.01) 50%), linear-gradient(0deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%), linear-gradient(0deg, rgba(255, 175, 47, 0.32) 0%, rgba(255, 175, 47, 0.32) 100%), rgba(0, 0, 0, 0.20);
    background-blend-mode: plus-lighter, plus-lighter, normal, normal, normal, normal, normal;
    box-shadow: 0px 0px 0.5px 0.5px rgba(255, 255, 255, 0.47), 0px 0px 2px 2px rgba(255, 175, 47, 0.47), 0px 0px 0px 1px rgba(0, 0, 0, 0.63), 0px -1.5px 0.5px 0px rgba(255, 255, 255, 0.26) inset, 0px 1.5px 0.5px 0px rgba(255, 255, 255, 0.26) inset;
        svg {
        outline: 2px solid white;
    }
}

.winButton_c38106 {
    height: 24px !important;
    width: 24px !important;
}

.searchBar__97492 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.05) 100%) !important;
    box-shadow: 0px 0px 1.441px 0px #000 inset, 0px 1.441px 0.721px 0px rgba(0, 0, 0, 0.40) inset, 0px 0.721px 0.721px 0px rgba(255, 255, 255, 0.22), 0px 0px 19.109px 4.777px rgba(0, 0, 0, 0.31) inset, 0px -3.238px 25.907px 3.238px rgba(37, 37, 37, 0.44) inset;
}

.sectionDivider__629e4 {
    margin: 0px !important;
}

.containerDefault__29444 {
    padding-top: 0px !important;
}

.buttons__74017 {
    gap: 0px !important;
}

.scrollableContainer__74017::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


.buttons__74017>.button__201d5:not(.buttonContainer__74017, .expression-picker-chat-input-button) {
    display: none;
}

.channelTextArea_f75fb0 {
    margin: 0px !important;
}


.selected__6e9f8 .childWrapper__6e9f8 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.00) 50%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(88, 101, 242, 0.75) 100%), linear-gradient(183deg, rgba(255, 255, 255, 0.10) 1.78%, rgba(255, 255, 255, 0.00) 48.91%), #090A17 !important;
    border: 1px solid rgba(255, 255, 255, 0.10) !important;
    background-blend-mode: normal, plus-lighter, normal, normal;
    box-shadow: 0px 0px 11.67px 2.918px rgba(0, 0, 0, 0.31) inset, 0px -1.978px 15.822px 1.978px rgba(37, 37, 37, 0.44) inset;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.54));
}

.listItem__650eb .blobContainer_e5445c {
    box-sizing: border-box !important;

    &::after {
        content: "a";
        font-size: 0;
        position: absolute !important;
        width: 42px !important;
        height: 42px !important;
        top: 0px;
        z-index: 5;
        border: 1.125px solid rgba(255, 255, 255, 0.10);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.00) 50%), url(<path-to-image>) lightgray 50% / cover no-repeat, #090A17;
        box-shadow: 0px 0px 0px 1.125px rgba(0, 0, 0, 0.54), 0px -2.215px 17.72px 2.215px rgba(37, 37, 37, 0.44) inset;
        pointer-events: none;
    }
}


/* MESSAGES  - - - - - - - - - - - - - - - - - - - - - */
.contents_c19a55>.messageContent_c19a55 {
    width: fit-content;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding: 8px !important;
    border-radius: 10px !important;
    box-sizing: content-box;
    max-width: 100%;
    word-wrap: normal;
    background: linear-gradient(178deg, rgba(255, 255, 255, 0.10) 1.61%, rgba(255, 255, 255, 0.00) 32.25%), #090909;
    border: 1px solid rgba(255, 255, 255, 0.10);
    box-shadow: 0px 0px 9.15px 2.287px rgba(0, 0, 0, 0.31) inset, 0px -1.551px 12.404px 1.551px rgba(37, 37, 37, 0.44) inset;
    filter: drop-shadow(0px 2.287px 2.287px rgba(0, 0, 0, 0.24));
    backdrop-filter: blur(1.4296157360076904px);
}

.groupStart__5126c .messageContent_c19a55 {
    border-radius: 0px 10px 10px 10px !important;
}

.message__5126c,
.contents_c19a55 {
    /* position: absolute; */
    max-width: calc(100% - var(--custom-message-margin-left-content-cozy)) !important;
    min-width: calc(100% - var(--custom-message-margin-left-content-cozy)) !important;
}

.buttonContainer_c19a55 .container__040f0 {
    right: 20px;
}

.reactionInner__23977[aria-label*=", 1 "] .reactionCount__23977 {
    display: none !important;
}


.messageListItem__5126c[data-is-self="true"] {
    align-items: end;
    align-content: end;
    justify-content: end;
    justify-items: end;

    .message__5126c {
        /* padding-left: 100%; */
        padding-right: var(--custom-message-margin-left-content-cozy) !important;

        .contents_c19a55 {
            justify-items: end;
        }

        .avatar_c19a55 {
            left: auto !important;
            right: var(--custom-message-margin-horizontal);
        }

        .avatarDecoration_c19a55 {
            left: auto !important;
            right: calc(var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 + var(--custom-message-avatar-size) / 2);
        }

        .contents_c19a55>.messageContent_c19a55 {
            border-radius: 10px !important;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(88, 101, 242, 0.46) 100%), linear-gradient(182deg, rgba(255, 255, 255, 0.10) -0.14%, rgba(255, 255, 255, 0.00) 47.91%), #090A17;
            border: 1px solid rgba(255, 255, 255, 0.10);
            box-shadow: 0px 0px 9.15px 2.287px rgba(0, 0, 0, 0.31) inset, 0px -1.551px 12.404px 1.551px rgba(37, 37, 37, 0.44) inset;
            filter: drop-shadow(0px 2.287px 2.287px rgba(0, 0, 0, 0.24));
            backdrop-filter: blur(1.4296157360076904px);
        }

        &.groupStart__5126c .messageContent_c19a55 {
            border-radius: 10px 0px 10px 10px !important;
        }

        .container_b7e1cb>* {
            justify-self: end !important;
            align-self: end !important;
        }

        .visualMediaItemContainer_f4758a {
            width: auto;
        }

        .contents_c19a55 {
            justify-self: end;
        }

        &.hasReply_c19a55 {
            padding-top: 22px;
        }

        .repliedMessage_c19a55 {
            position: absolute;
            flex-direction: row-reverse;
            top: 0px;
            left: auto !important;
            right: calc(var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 + var(--custom-message-avatar-size) / 2);
            margin-right: calc(var(--chat-avatar-size) * 1.5 + 12px);
            max-width: calc(100% - var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 32px);
        }

        .repliedMessageClickableSpine_c19a55 {
            right: calc(var(--chat-avatar-size) / 2 * -1 + var(--gutter) * -1 - 4px);
            left: 100%;
            border-right: var(--spine-width) solid var(--spine-default);
            border-bottom: 0 solid var(--spine-default);
            border-left: 0 solid var(--spine-default);
            border-top: 2px solid var(--spine-default);
            border-top: var(--spine-width) solid var(--spine-default);
            border-top-right-radius: 6px;
            border-top-left-radius: 0px;
        }
    }

    .buttonContainer_c19a55 {
        right: auto;
        left: 0;

        .container__040f0 {
            right: auto;
            left: 56px;
        }
    }

    .reactions__23977 {
        align-content: flex-end;
        justify-content: flex-end;
    }

}


.numberBadge__2b1f5, .unreadMentionsBar_ef3116, .mentionsBar__7aaec {
    border: 0.75px solid rgba(255, 255, 255, 0.31);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.10) 50%, rgba(255, 255, 255, 0.00) 50%), #CE1010!important;
z-index: 20;
}

.lowerBadge_cc5dd2, .upperBadge_cc5dd2 {
    z-index: 20;
}


.chat_f75fb0 .chatContent_f75fb0 {

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("https://blade04208.github.io/aider/src/chat-header.png");
        opacity: 1;
        background-position: 100% 100%;
        background-repeat: repeat-x;
        /* background-size: cover; */
    }
}