/**
 * @name aider
 * @description aidak theme
 * @author Blade0, Aidak
 * @authorId 1124341362955919371
 * @version 0.1
 * @updateUrl https://blade04208.github.io/aider/aider.theme.css
 * @source https://github.com/Blade04208/aider
 * @invite KEcCnVuTV7
 */
/* This contains the actual theme, removing will remove the theme, so dont ok thank you */
@import url(https://blade04208.github.io/aider/build/import.css);

:root {
    --aider-chat-avatars: compact;
    /* Should Aider's avatars be beside the username?   Syntax: compact | cozy */

    --aider-icons: false;
    /* Should Aider use its own icons?                  Syntax: true | false 
       ⚠️ This feature is in-development, and may be subject to being/is broken! ⚠️ */
    
}