:root {
    --aider-chat-avatars: compact;
}

.c19a557985eb7793-avatar {
    border-radius: 0px;
}

@container style(--aider-chat-avatars: compact) {
    ._5126c0cd07f243a0-message {
        --custom-message-margin-left-content-cozy: var(--space-xxl);

        .c19a557985eb7793-avatar {
            scale: calc(16 / 40);
            top: -8px;
            margin-top: 0px;
            left: calc(var(--space-xxl) / 1.5);
        }

        .c19a557985eb7793-avatarDecoration {
            scale: calc(16 / 40);
            top: -11px;
            margin-top: 0px;
            left: calc(var(--space-xxl) / 1.5 - 4px);
        }

        .c19a557985eb7793-header {
            margin-left: 20px;
        }

        &.c19a557985eb7793-hasReply .c19a557985eb7793-avatar {
            top: 15px;
        }

        &:not(._5126c0cd07f243a0-groupStart)>.c19a557985eb7793-contents {
            display: flex;
            align-items: end;

            >.c19a557985eb7793-latin12CompactTimeStamp {
                position: relative;
                display: inline;
                opacity: 1;
                order: 1;
                width: min-content;
                margin-left: var(--space-xs);
            }

        }
    }
}

/* Chatbar --------------------- */

.f75fb00fb7356cbe-chat {
    border-top: 0 !important;
}

.b8880176888cc928-typing {
    overflow: visible !important;
    z-index: 0;

    .b8880176888cc928-typingDots {
        overflow: visible !important;

        &::before {
            width: 48px;
            height: 24px;
            z-index: 0;
            background: linear-gradient(to left, gray, gray, white, gray, gray);
            content: "";
            background-size: 200%;
            animation: typing-glow 2s linear 0s infinite forwards;
            position: relative;
            filter: blur(8px);
            top: 16px;
            left: 8px;
            /* opacity: 0.5; */
        }

        .b8880176888cc928-ellipsis {
            display: none;
        }
    }
}

.f75fb00fb7356cbe-form>div:not([class]) {
    position: relative;
    z-index: 2;
}

._36d072eab2b2e737-chatGradient {
    bottom: -4px;
    height: calc((var(--chat-markup-line-height, 1rem) + 16px) / 2);
    background: linear-gradient(to bottom, transparent, color-mix(in oklab, var(--background-base-lower), black 15%) 80%) !important;

}

@keyframes typing-glow {
    from {
        background-position: -100% 100%;
    }

    to {
        background-position: 100% 100%;
    }
}

.f75fb00fb7356cbe-form {
    padding: 4px;

    .f75fb00fb7356cbe-channelTextArea,
    ._740174f3d6a2c8fe-themedBackground {
        margin-bottom: 0px;
        border-radius: 0px;
        border: 0;
        background: transparent;
        overflow: visible;
    }

    ._740174f3d6a2c8fe-inner {
        --custom-channel-textarea-text-area-height: calc(var(--chat-markup-line-height, 1rem) + 16px);
        align-items: center;

        ._740174f3d6a2c8fe-textArea {
            --custom-channel-textarea-text-area-height: var(--chat-markup-line-height, 1rem);
            padding: 8px !important;
            background: linear-gradient(to top, var(--background-base-lower), color-mix(in oklab, var(--background-base-lower), black 5%)) !important;
            border: 1px solid var(--_aider-border-dark);
            box-shadow: 0px 0px 1px 1px inset var(--border-faint), 0px 2.5px 7.5px 0px inset var(--_aider-border-dark);
            min-height: var(--chat-markup-line-height, 1rem);
            box-sizing: content-box;
            max-height: calc(50vh - 16px);
            overflow-y: scroll;


            &::-webkit-scrollbar-thumb,
            &::-webkit-scrollbar-track {
                visibility: hidden !important;
            }

            &::-webkit-scrollbar-track {
                background-color: var(--scrollbar-thin-track);
                border: 2px solid var(--scrollbar-thin-track);
                border-color: var(--scrollbar-thin-track);
            }

            &::-webkit-scrollbar {
                height: 8px;
                width: 8px;
            }

            &::-webkit-scrollbar-corner {
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-clip: padding-box;
                background-color: var(--border-subtle);
                border: 2px solid transparent;
            }

            &:hover {

                &::-webkit-scrollbar-thumb,
                &::-webkit-scrollbar-track {
                    visibility: visible !important;
                }
            }
        }

        >._740174f3d6a2c8fe-buttons {
            gap: 1px !important;

            >*:not(span, .aa63abf63dbd9cce-separator)>._740174f3d6a2c8fe-button,
            >._740174f3d6a2c8fe-button {
                background: linear-gradient(to top, var(--background-base-lower), color-mix(in oklab, var(--background-base-lower), white 5%)) !important;
                border: 1px solid var(--_aider-border-dark);
                box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
                border-radius: 0px;
                min-height: calc(var(--custom-channel-textarea-text-area-height) + 2px);
                min-width: calc(var(--custom-channel-textarea-text-area-height) + 2px);
                height: 100%;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;

                &:hover {
                    filter: brightness(1.4);
                }

                &:active {
                    transform: translateY(1px);
                    filter: brightness(0.95);
                }
            }

            >*:not(span, .aa63abf63dbd9cce-separator)>.e6e74fd4d1221f53-button {
                /* i hate the activity launcher */
                background: linear-gradient(to top, var(--background-base-lower), color-mix(in oklab, var(--background-base-lower), white 5%)) !important;
                border: 1px solid var(--_aider-border-dark);
                box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
                border-radius: 0px;
                min-height: var(--custom-channel-textarea-text-area-height);
                min-width: var(--custom-channel-textarea-text-area-height);
                height: 100%;
                transition: all 0.3s ease;

                &:hover {
                    filter: brightness(1.4);
                }

                &:active {
                    transform: translateY(1px);
                    filter: brightness(0.95);
                }
            }
        }

        ._1b31f471f0bb10ab-placeholder {
            margin-left: 8px;
        }

        ._0923f156a0410684-attachWrapper {
            display: contents;

            ._0923f156a0410684-attachButton {
                margin-right: 0px;

                >._0923f156a0410684-attachButtonInner {
                    background: linear-gradient(to top, var(--background-base-lower), color-mix(in oklab, var(--background-base-lower), white 5%)) !important;
                    border: 1px solid var(--_aider-border-dark);
                    box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
                    border-radius: 0px;
                    min-height: calc(var(--custom-channel-textarea-text-area-height) + 2px);
                    min-width: calc(var(--custom-channel-textarea-text-area-height) + 2px);
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease;

                    &:hover {
                        filter: brightness(1.4);
                    }

                    &:active {
                        transform: translateY(1px);
                        filter: brightness(0.95);
                    }
                }
            }
        }
    }
}





/* Debug ----------- */

div[id="developer_options_design_tools_tab-tab"]>fieldset::before {
    content: "Chat Loaded!";
}

.f84418acfdbdfe54-popover,
.c1e9c47c23f12ca3-menu {
    border-radius: 0px;
    background: linear-gradient(to bottom, color-mix(in oklab, var(--background-base-lower), white 7.5%), color-mix(in oklab, var(--background-base-lower), white 2.5%) 40px) !important;
    border: 1px solid var(--_aider-border-dark);
    box-shadow: 0px 0px 1px 1px inset var(--border-subtle), 2px 2px 10px black !important;
}