:root {
    --aider-chat-avatars: compact;
}

.c19a557985eb7793-avatar {
    border-radius: 0px;
}

@container style(--aider-chat-avatars: compact) {
    ._5126c0cd07f243a0-message {
        --custom-message-margin-left-content-cozy: var(--space-xxl);

        .c19a557985eb7793-avatar {
            scale: calc(16 / 40);
            top: -8px;
            margin-top: 0px;
            left: calc(var(--space-xxl) / 1.5);
        }

        .c19a557985eb7793-avatarDecoration {
            scale: calc(16 / 40);
            top: -11px;
            margin-top: 0px;
            left: calc(var(--space-xxl) / 1.5 - 4px);
        }

        .c19a557985eb7793-header {
            margin-left: 20px;
        }

        &.c19a557985eb7793-hasReply .c19a557985eb7793-avatar {
            top: 15px;
        }

        &:not(._5126c0cd07f243a0-groupStart)>.c19a557985eb7793-contents {
            display: flex;
            align-items: end;

            >.c19a557985eb7793-latin12CompactTimeStamp {
                position: relative;
                display: inline;
                opacity: 1;
                order: 1;
                width: min-content;
                margin-left: var(--space-xs);
            }

        }
    }
}

.f75fb00fb7356cbe-chat {
    border-top: 0 !important;
}

.b8880176888cc928-typing {
    overflow: visible!important;
            z-index: 0;
    .b8880176888cc928-typingDots {
    overflow: visible!important;

        &::before {
            width: 48px;
            height: 24px;
            z-index: 0;
            background: linear-gradient(to left, gray, gray, white, gray, gray);
            content: "";
            background-size: 200%;
            animation: typing-glow 2s linear 0s infinite forwards;
position: relative;
            filter: blur(8px);
            top: 16px;
            left: 8px;
            /* opacity: 0.5; */
        }
        .b8880176888cc928-ellipsis {
            display: none;
        }
    }
}
.f75fb00fb7356cbe-form>div:not([class]) {
    position: relative;
    z-index: 2;
}
._36d072eab2b2e737-chatGradient{
    display: none;
}

@keyframes typing-glow {
    from {
        background-position: -100% 100%;
    }

    to {
        background-position: 100% 100%;
    }
}

/* Debug ----------- */

div[id="developer_options_design_tools_tab-tab"]>fieldset::before {
    content: "Chat Loaded!";
}