:root {
    --aider-chat-avatars: compact;
}

.avatar_c19a55 {
    border-radius: 0px;
}

@container style(--aider-chat-avatars: compact) {
    .message__5126c {
        --custom-message-margin-left-content-cozy: var(--space-xxl);

        .avatar_c19a55 {
            scale: calc(16 / 40);
            top: -8px;
            margin-top: 0px;
            left: calc(var(--space-xxl) / 1.5);
        }

        .avatarDecoration_c19a55 {
            scale: calc(16 / 40);
            top: -11px;
            margin-top: 0px;
            left: calc(var(--space-xxl) / 1.5 - 4px);
        }

        .header_c19a55 {
            margin-left: 20px;
        }

        &.hasReply_c19a55 .avatar_c19a55 {
            top: 15px;
        }

        &:not(.groupStart__5126c) > .contents_c19a55 {
            display: flex;
            align-items: end;

            > .latin12CompactTimeStamp_c19a55 {
                position: relative;
                display: inline;
                opacity: 1;
                order: 1;
                width: min-content;
                margin-left: var(--space-xs);
            }
        }
    }
}

/* Chatbar --------------------- */

.chat_f75fb0 {
    border-top: 0 !important;
}

.typing_b88801 {
    overflow: visible !important;
    z-index: 0;

    .typingDots_b88801 {
        overflow: visible !important;
        width: fit-content;
        flex: 0;
        position: relative;
        margin-left: 0px;

        &::before {
            width: 100%;
            height: 24px;
            z-index: 0;
            background: linear-gradient(to left, gray, gray, white, gray, gray);
            content: "";
            background-size: 200%;
            animation: typing-glow 2s linear 0s infinite forwards;
            position: relative;
            filter: blur(8px);
            top: 16px;
            left: 8px;
            opacity: 0.5;
            position: absolute;
        }

        > span {
            position: relative;
            left: 0px;
            margin-left: 8px;
        }

        .ellipsis_b88801 {
            display: none;
        }
    }
}

.form_f75fb0 > div:not([class]) {
    position: relative;
    z-index: 2;
}

.chatGradient__36d07 {
    bottom: -4px;
    height: calc((var(--chat-markup-line-height, 1rem) + 16px) / 2);
    background: linear-gradient(
        to bottom,
        transparent,
        var(--_aider-color-chat) 80%
    ) !important;
}

@keyframes typing-glow {
    from {
        background-position: -100% 100%;
    }

    to {
        background-position: 100% 100%;
    }
}
/* chatbar ---------------------------*/
.form_f75fb0 {
    padding: 4px;

    .channelTextArea_f75fb0,
    .themedBackground__74017 {
        margin-bottom: 0px;
        border-radius: 0px;
        border: 0;
        background: transparent;
        overflow: visible;
    }

    .inner__74017 {
        --custom-channel-textarea-text-area-height: calc(
            var(--chat-markup-line-height, 1rem) + 16px
        );
        align-items: start;

        .textArea__74017 {
            --custom-channel-textarea-text-area-height: var(
                --chat-markup-line-height,
                1rem
            );
            padding: 8px !important;
            background: linear-gradient(
                to top,
                var(--background-base-lower),
                color-mix(in oklab, var(--background-base-lower), black 5%)
            ) !important;
            border: 1px solid var(--_aider-border-dark);
            box-shadow:
                0px 0px 1px 1px inset var(--border-faint),
                0px 2.5px 7.5px 0px inset var(--_aider-border-dark);
            min-height: var(--chat-markup-line-height, 1rem);
            box-sizing: content-box;
            max-height: calc(50vh - 16px);
            overflow-y: scroll;

            &::-webkit-scrollbar-thumb,
            &::-webkit-scrollbar-track {
                visibility: hidden !important;
            }

            &::-webkit-scrollbar-track {
                background-color: var(--scrollbar-thin-track);
                border: 2px solid var(--scrollbar-thin-track);
                border-color: var(--scrollbar-thin-track);
            }

            &::-webkit-scrollbar {
                height: 8px;
                width: 8px;
            }

            &::-webkit-scrollbar-corner {
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-clip: padding-box;
                background-color: var(--border-subtle);
                border: 2px solid transparent;
            }

            &:hover {
                &::-webkit-scrollbar-thumb,
                &::-webkit-scrollbar-track {
                    visibility: visible !important;
                }
            }
        }

        > .buttons__74017 {
            gap: 1px !important;
            margin-top: 1px;
            > *:not(span, .separator_aa63ab) > .button__74017,
            > .button__74017 {
                background: linear-gradient(
                    to top,
                    var(--background-base-lower),
                    color-mix(in oklab, var(--background-base-lower), white 5%)
                ) !important;
                border: 1px solid var(--_aider-border-dark);
                box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
                border-radius: 0px;
                min-height: calc(
                    var(--custom-channel-textarea-text-area-height) + 2px
                );
                min-width: calc(
                    var(--custom-channel-textarea-text-area-height) + 2px
                );
                height: 100%;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;

                &:hover {
                    filter: brightness(1.4);
                }

                &:active {
                    transform: translateY(1px);
                    filter: brightness(0.95);
                }
            }

            > *:not(span, .separator_aa63ab) > .button_e6e74f {
                /* i hate the activity launcher */
                background: linear-gradient(
                    to top,
                    var(--background-base-lower),
                    color-mix(in oklab, var(--background-base-lower), white 5%)
                ) !important;
                border: 1px solid var(--_aider-border-dark);
                box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
                border-radius: 0px;
                min-height: var(--custom-channel-textarea-text-area-height);
                min-width: var(--custom-channel-textarea-text-area-height);
                height: 100%;
                transition: all 0.3s ease;

                &:hover {
                    filter: brightness(1.4);
                }

                &:active {
                    transform: translateY(1px);
                    filter: brightness(0.95);
                }
            }
        }

        .placeholder__1b31f {
            margin-left: 8px;
        }

        .attachWrapper__0923f {
            display: contents;

            .attachButton__0923f {
                margin-right: 0px;

                > .attachButtonInner__0923f {
                    background: linear-gradient(
                        to top,
                        var(--background-base-lower),
                        color-mix(
                            in oklab,
                            var(--background-base-lower),
                            white 5%
                        )
                    ) !important;
                    border: 1px solid var(--_aider-border-dark);
                    box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
                    border-radius: 0px;
                    min-height: calc(
                        var(--custom-channel-textarea-text-area-height) + 2px
                    );
                    min-width: calc(
                        var(--custom-channel-textarea-text-area-height) + 2px
                    );
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease;

                    &:hover {
                        filter: brightness(1.4);
                    }

                    &:active {
                        transform: translateY(1px);
                        filter: brightness(0.95);
                    }
                }
            }
        }

        .wrapper__4d3a9 + .textArea__74017 {
            padding: 3px 8px 2px !important;
            display: flex;
            align-items: center;
            @supports (corner-shape: bevel) {
                padding-left: 32px !important;
                margin-left: -32px;
            }
        }
        .wrapper__4d3a9 {
            z-index: 20;
            margin-right: 1px;
        }
        .icon__4d3a9 {
            padding: 7px 7px 6px 7px;
            background: linear-gradient(
                to top,
                var(--background-base-lower),
                color-mix(in oklab, var(--background-base-lower), white 5%)
            ) !important;
            border: 1px solid var(--_aider-border-dark);
            box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
            @supports (corner-shape: bevel) {
                corner-top-right-shape: bevel;
                corner-bottom-right-shape: bevel;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                padding: 7px 22px 6px 8px !important;
            }
        }
    }
}

.optionPill__1464f {
    border-radius: 0px;
    .optionPillKey__1464f {
        background: var(--_aider-gradient);
        border-radius: 0px;
    }
    &.erroredPill__1464f {
        border: 1px solid color-mix(in srgb, var(--red-800), transparent);
        box-shadow:
            0px 0px 1px 1px inset
                color-mix(in srgb, var(--red-300), transparent 80%),
            0px 0px 10px 0px color-mix(in srgb, var(--red-500), transparent 60%),
            0px 0px 10px -4px
                color-mix(in srgb, var(--red-360), transparent 60%);
        background: color-mix(
            in oklab,
            var(--background-base-lower),
            var(--red-700) 25%
        ) !important;
        .optionPillKey__1464f {
            background: linear-gradient(
                to bottom,
                color-mix(
                    in oklab,
                    var(--background-base-lower),
                    var(--red-400) 35%
                ),
                color-mix(
                        in oklab,
                        var(--background-base-lower),
                        var(--red-600) 35%
                    )
                    calc(var(--custom-channel-header-height) / 2)
            ) !important;
        }
    }
    &.selectedPill__1464f {
        border: 1px solid var(--brand-500) !important;
        background: color-mix(
            in oklab,
            var(--background-base-lower),
            var(--brand-800) 25%
        ) !important;
        .optionPillKey__1464f {
            background: linear-gradient(
                to top,
                color-mix(
                    in oklab,
                    var(--background-base-lower),
                    var(--brand-700) 20%
                ),
                color-mix(
                    in oklab,
                    var(--background-base-lower),
                    var(--brand-500) 30%
                )
            );
        }
    }
}
.stackedBars__74017 {
    margin: 0px 1px 3px 2px;
    border: 1px solid var(--_aider-border-dark) !important;
    box-shadow:
        0px 0px 1px 1px inset var(--border-subtle),
        2px 2px 10px black !important;
    .bar__84522,
    .clipContainer__841c8 {
        background: var(--_aider-gradient);
        box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
    }
}

.autocomplete__13533 {
    border-radius: 0px;
    background: linear-gradient(
        to bottom,
        color-mix(in oklab, var(--background-base-lower), white 7.5%),
        color-mix(in oklab, var(--background-base-lower), white 2.5%) 40px
    ) !important;
    border: 1px solid var(--_aider-border-dark);
    box-shadow:
        0px 0px 1px 1px inset var(--border-subtle),
        2px 2px 10px black !important;
    inset-inline: var(--space-xxs);
}

.theme-light {
    .form_f75fb0 {
        .inner__74017 {
            .textArea__74017 {
                margin-right: 1px !important;
                background: linear-gradient(
                    to bottom,
                    var(--background-base-lower),
                    color-mix(
                        in oklab,
                        var(--background-base-lower),
                        black 3.5%
                    )
                ) !important;

                &::-webkit-scrollbar-thumb {
                    background-color: var(--_aider-border-dark);
                }
            }

            > .buttons__74017 {
                > *:not(span, .separator_aa63ab) > .button__74017,
                > .button__74017 {
                    background: linear-gradient(
                        to bottom,
                        var(--background-base-lower),
                        color-mix(
                            in oklab,
                            var(--background-base-lower),
                            black 5%
                        )
                    ) !important;
                    &:hover {
                        filter: brightness(0.9);
                    }

                    &:active {
                        transform: translateY(1px);
                        filter: brightness(0.7);
                    }
                }

                > *:not(span, .separator_aa63ab) > .button_e6e74f {
                    /* i hate the activity launcher */
                    background: linear-gradient(
                        to bottom,
                        var(--background-base-lower),
                        color-mix(
                            in oklab,
                            var(--background-base-lower),
                            black 5%
                        )
                    ) !important;

                    &:hover {
                        filter: brightness(0.9);
                    }

                    &:active {
                        transform: translateY(1px);
                        filter: brightness(0.7);
                    }
                }
            }

            .attachWrapper__0923f {
                .attachButton__0923f {
                    margin-right: 1px !important;
                    > .attachButtonInner__0923f {
                        background: linear-gradient(
                            to bottom,
                            var(--background-base-lower),
                            color-mix(
                                in oklab,
                                var(--background-base-lower),
                                black 5%
                            )
                        ) !important;
                        border: 1px solid var(--_aider-border-dark);
                        box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
                        &:hover {
                            filter: brightness(0.9);
                        }

                        &:active {
                            transform: translateY(1px);
                            filter: brightness(0.7);
                        }
                    }
                }
            }
        }
    }
}

/* tags -------------------------------*/
.botTag__5d473.botTag__82f07.px__82f07 {
    border-radius: 20px;
    padding: 1px 5px 0px;
    border: 1px solid var(--brand-700);
    margin-left: 6px;
    box-shadow:
        inset 0px 0px 0px 1px var(--brand-360),
        0px 0px 7px -1px color-mix(in oklab, var(--brand-500), transparent);
    box-sizing: content-box;
    background: linear-gradient(to bottom, var(--brand-400), var(--brand-500));
    .botTagVerified__82f07 {
        margin-top: -1px;
    }
}

.chipletContainerInner__10651 {
    border-radius: 0px;
    background: var(--background-surface-highest);
    outline: 1px color-mix(in oklab, var(--border-subtle), transparent 25%)
        dashed;
}

/* Debug ----------- */

[data-debug-key="highlight_mana_components"] {
    > .stack_dbd263 {
        display: none;
    }
    &::before {
        content: "Chat Loaded!";
        order: 1;
    }
}

.popover_f84418,
.menu_c1e9c4 {
    border-radius: 0px;
    background: linear-gradient(
        to bottom,
        color-mix(in oklab, var(--background-base-lower), white 7.5%),
        color-mix(in oklab, var(--background-base-lower), white 2.5%) 40px
    ) !important;
    border: 1px solid var(--_aider-border-dark);
    box-shadow:
        0px 0px 1px 1px inset var(--border-subtle),
        2px 2px 10px black !important;
}
.theme-light {
    .popover_f84418,
    .menu_c1e9c4,
    .autocomplete__13533,
    .stackedBars__74017 {
        box-shadow:
            0px 0px 1px 1px inset var(--border-subtle),
            2px 2px 10px rgba(0, 0, 0, 0.2) !important;
    }
}
