/* Basic color patchall styles (thank you very much discord) */
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

@font-face {
    font-family: 'Helvetica Neue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    src: url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
}

.theme-dark {
    --custom-theme-base-color: hsl(0, 0%, 3.75%);
    --custom-theme-base-color-amount: 100%;
    --custom-theme-text-color: color-mix(in oklab,
            var(--custom-theme-base-color),
            var(--text-primary, white) 85%);
    --custom-theme-text-color-amount: 100%;
    --border-subtle: color-mix(in oklab,
            var(--custom-theme-base-color),
            var(--text-primary, white) 15%);
    --border-faint: color-mix(in oklab,
            var(--custom-theme-base-color),
            white 10%);
    --_aider-border-dark: rgba(0, 0, 0, 0.5);
    --font-primary: 'Helvetica Neue', gg sans;
    --radius-xxs: 0;
    --radius-xs: 0;
    --radius-sm: 0;
    --radius-md: 0;
    --radius-lg: 0;
    --radius-xl: 0;
    --radius-xxl: 0;

    nav.guilds__5e434,
    .bg__960e4 {
        background: color-mix(in oklab, var(--background-base-lower), black 20%);
    }

    .chatContent_f75fb0 {
        background: color-mix(in oklab, var(--background-base-lower), black 15%);
    }
}


.theme-light {
    --custom-theme-base-color: hsl(0, 0%, 3.75%);
    --custom-theme-base-color-amount: 7.5%;
    --custom-theme-text-color: color-mix(in oklab,
            var(--custom-theme-base-color),
            black 85%);
    --custom-theme-text-color-amount: 100%;
    --border-subtle: color-mix(in oklab,
            var(--custom-theme-base-color),
            white 90%);
    --border-faint: color-mix(in oklab,
            var(--custom-theme-base-color),
            blue 90%);

    --font-primary: 'Helvetica Neue', gg sans;
    --_aider-border-dark: rgba(0, 0, 0, 0.2);
    --radius-xxs: 0;
    --radius-xs: 0;
    --radius-sm: 0;
    --radius-md: 0;
    --radius-lg: 0;
    --radius-xl: 0;
    --radius-xxl: 0;

    nav.guilds__5e434,
    .bg__960e4 {
        background: color-mix(in oklab, var(--background-base-lower), black 7.5%);
    }

    .chatContent_f75fb0 {
        background: color-mix(in oklab, var(--background-base-lower), black 7.5%);
    }
}



/* Subtitle --------------------------- */


.title_f75fb0 {
    padding: 0px;
    background: linear-gradient(to top, var(--background-base-lower), color-mix(in oklab, var(--background-base-lower), white 5%)) !important;
    border: 1px solid var(--_aider-border-dark);
    box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
}

.container__9293f,
.contentHeader_e9e3ed {
    background: linear-gradient(to top, var(--background-base-lower), color-mix(in oklab, var(--background-base-lower), white 5%)) !important;
    border: 1px solid var(--_aider-border-dark);
    box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
}

.container__133bf {
    border-top: 0;
}

.upperContainer__9293f,
.children__9293f {
    /* overflow: visible; */

    >.iconWrapper__9293f {
        left: 4px !important;
    }
}

.children__9293f>div>.avatar_f75fb0 {
    height: var(--custom-channel-header-height) !important;
    width: var(--custom-channel-header-height) !important;

    >.svg__44b0c {

        contain: none !important;
        overflow: visible !important;
        mask: none;
        height: var(--custom-channel-header-height);
        width: var(--custom-channel-header-height);

        >foreignObject[mask="url(#svg-mask-avatar-status-round-20)"] {
            scale: 1.25;
            contain: none !important;
            overflow: visible !important;
            mask: none;
            mask-image: linear-gradient(to right, black, transparent);
        }

        g {
            opacity: 0;
        }

    }
}

.titleWrapper__9293f {
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);

    &::after {
        line-height: 1;
        padding: var(--space-xxs) var(--space-xxs) calc(var(--space-xxs) / 1.25);
        border: 1px solid var(--_aider-border-dark);
        box-shadow: inset 0px 4px 6px -3px rgba(255, 255, 255, 0.5), inset 0px -1px 2px var(--_aider-border-dark);
        font-weight: 450;
        color: white;
    }
}

/* ~~ */
.children__9293f:has(>div>.avatar_f75fb0>.svg__44b0c>g>rect[mask="url(#svg-mask-status-dnd)"]) .titleWrapper__9293f::after {
    content: "DO NOT DISTURB";
    background: var(--status-danger);
}

.children__9293f:has(>div>.avatar_f75fb0>.svg__44b0c>g>rect[fill="#82838b"]) .titleWrapper__9293f::after {
    content: "OFFLINE";
    background: #82838b;
}

.children__9293f:has(>div>.avatar_f75fb0>.svg__44b0c>g>rect[mask="url(#svg-mask-status-online)"]) .titleWrapper__9293f::after {
    content: "ONLINE";
    background: var(--status-positive);
}

.children__9293f:has(>div>.avatar_f75fb0>.svg__44b0c>g>rect[mask="url(#svg-mask-status-idle)"]) .titleWrapper__9293f::after {
    content: "IDLE";
    background: var(--status-warning);
}

/* ~~ */

.children__9293f::after {
    background: linear-gradient(to top, var(--background-base-lower), color-mix(in oklab, var(--background-base-lower), white 5%)) !important;
    mask-image: linear-gradient(to left, black, transparent);
}

.children__9293f {
    &:has(.channelIcon__9293f, >.iconWrapper__9293f) {

        .channelIcon__9293f,
        >.iconWrapper__9293f {
            position: absolute;
            scale: 3;
            left: 10px;
            bottom: 0px;
            z-index: -1;
            mask-image: linear-gradient(to bottom, var(--_aider-border-dark), transparent 80%);
        }

        .titleWrapper__9293f {
            padding-left: calc(var(--space-sm) * 1.5);
        }
    }


    &:has(.caret__9293f) {
        .channelIcon__9293f:first-of-type {
            display: none;
        }

        .titleWrapper__9293f:last-of-type {
            padding-left: var(--space-xs);
        }
    }
}


.searchBar_c322aa,
.wrapper__72c38 {
    background: linear-gradient(to top, var(--background-base-lower), color-mix(in oklab, var(--background-base-lower), black 5%)) !important;
    border: 1px solid color-mix(in oklab, var(--_aider-border-dark), transparent 90%);
    box-shadow: 0px 0px 1px 1px inset var(--border-faint), 0px 2.5px 7.5px 0px inset var(--_aider-border-dark);

}


/* Profiles ------------------------------------------------- */
.outer_c0bea0 {
    overflow: visible;
    border-radius: 0px;
    box-shadow: var(--shadow-high);
    border: 1px solid var(--aider-border-dark);

    .inner_c0bea0 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: var(--space-md) var(--space-md) var(--space-xxs);
        overflow: visible;
        border-radius: 0px;

        .header__5be3e,
        .body__5be3e {
            display: contents;
        }

        .mask__68edb {
            position: absolute;
            /* display: none; */
            left: 0px;
            top: 0px;
            z-index: 0;
        }

        .avatar__75742 {
            position: relative;
            inset: 0;
            width: calc(80px + var(--space-xs));
        }

        .referenceContainer_ab8609 {
            position: absolute;
        }

        .container__63ed3 {
            width: calc(100% - 80px - var(--space-md));
            z-index: 1;
        }

        .footer__5be3e {
            width: 100%;
            padding: 0px;
            padding-bottom: calc(var(--space-xs) * 1.25);
        }

        .container__9d597 {
            width: 100%;
        }

        .mask__68edb {
            >foreignObject {
                mask: none;
                mask-image: linear-gradient(to bottom, black, transparent);
            }
        }

        .container_ab8609 {
            top: -30px;
            z-index: 3;
            left: -10px;

            .outer_ab8609 {
                max-height: calc(1rem + 20px);
                transition: 0.3s ease max-height;

                &::before {
                    top: unset;
                    bottom: -7px;
                    left: -2px;
                }

                &::after {
                    top: unset;
                    bottom: -22px;
                    left: 8px
                }

                .content_ab8609 {
                    max-height: 1rem !important;
                    overflow: hidden;
                }

                &:hover {
                    max-height: calc(8rem + 20px);

                    .content_ab8609 {
                        max-height: 8rem !important;
                    }
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            /* background: red; */
            z-index: 2;
            pointer-events: none;
            content: "";
            position: absolute;
            inset: -1px;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px 3px 3px -2px rgba(255, 255, 255, 0.25), inset 0px 24px 12px -12px rgba(255, 255, 255, 0.125), inset 0px -3px 3px -2px rgba(0, 0, 0, 0.25);
        }

        .wrapper__0c74f {
            position: absolute;
            right: -16px;
            top: 8px;
            flex-direction: column;

            >span>.bannerButton_fb7f94 {
                background: color-mix(in oklab, var(--profile-gradient-modal-background-color), transparent 75%);
                box-shadow: inset 0px 0px 4px var(--profile-gradient-modal-background-color);
                backdrop-filter: blur(4px);
                /* border: 1px solid color-mix(in oklab, var(--border-subtle), transparent 50%); */
                padding: 1px;
                box-sizing: content-box;

                >svg {
                    /* color: var(--text-default); */
                }
            }
        }
    }
}


/* Components --------------------------------------- */

/* Buttons */
.button_a22cb0 {
    border-radius: 0px;
    transition: all 0.15s ease !important;

    &.primary_a22cb0 {
        background: linear-gradient(to bottom, color-mix(in oklab, var(--control-primary-background-default), white 25%), var(--control-primary-background-default) calc(var(--custom-channel-header-height) / 2)) !important;
        border: 1px solid color-mix(in oklab, color-mix(in oklab, var(--control-primary-background-default), black 50%), transparent);
        box-shadow: 0px 0px 1px 1px inset color-mix(in oklab, color-mix(in oklab, var(--control-primary-background-default), white 50%), transparent);
    }

    &.critical-primary_a22cb0 {
        background: linear-gradient(to bottom, color-mix(in oklab, var(--control-critical-primary-background-default), white 25%), var(--control-critical-primary-background-default) calc(var(--custom-channel-header-height) / 2)) !important;
        border: 1px solid color-mix(in oklab, color-mix(in oklab, var(--control-critical-primary-background-default), black 50%), transparent);
        box-shadow: 0px 0px 1px 1px inset color-mix(in oklab, color-mix(in oklab, var(--control-critical-primary-background-default), white 50%), transparent);
    }

    &.secondary_a22cb0,
    &.critical-secondary_a22cb0 {
        background: linear-gradient(to bottom, color-mix(in oklab, var(--control-secondary-background-default), white 15%), var(--control-secondary-background-default) calc(var(--custom-channel-header-height) / 2)) !important;
        border: 1px solid color-mix(in oklab, color-mix(in oklab, var(--control-secondary-background-default), black 30%), transparent);
        box-shadow: 0px 0px 1px 1px inset color-mix(in oklab, color-mix(in oklab, var(--control-secondary-background-default), white 30%), transparent);
    }

    &:active {
        transform: translateY(1px);
        filter: brightness(0.95);
    }
}
/* Dropdowns */
.selectField__0edde {
    &.isFocused__0edde {
        outline: 0!important;
        &::after {
            content: "";
            position: absolute;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            background: radial-gradient(ellipse at bottom, color-mix(in oklab, var(--brand-600), transparent 80%), color-mix(in oklab, var(--brand-800), transparent 90%));
            border: 2px solid var(--brand-700);
            border-image: radial-gradient(ellipse at bottom, color-mix(in oklab, var(--brand-500), transparent 25%), color-mix(in oklab, var(--brand-800), transparent 90%) 40%) 1;
            z-index: 0;
            transition: opacity 0.3s ease;
            @starting-style {
                opacity: 0;
            }
        }
        >* {
            z-index: 1;
        }
    }
}


/* Settings ------------------------------------------- */

.sidebar__409aa {
    position: relative;
    padding-top: 127px;

    background: linear-gradient(to bottom, color-mix(in oklab, var(--background-base-lower), white 5%), var(--background-base-lower) calc(var(--custom-channel-header-height) / 2)) !important;
    border-radius: 0px;
    border: 1px solid var(--_aider-border-dark, rgba(0, 0, 0, 0.5));
    box-shadow: 0px 0px 1px 1px inset var(--border-subtle);

    &:has(.fixedContent__409aa>.emptySearchResultsContainer_cf016e) {
        padding-top: 217px;
    }

    .fixedContent__409aa {
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 0px;
        width: calc(100% - 1px);
        padding: 0px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        .searchBarContainer__409aa {
            border: 1px solid var(--border-subtle);
            border-right: none !important;
            background: linear-gradient(to bottom, color-mix(in oklab, var(--background-base-lower), white 5%), var(--background-base-lower) calc(var(--custom-channel-header-height) / 2));
            order: -1;
            height: 48px;
            padding: 1px 5px;
            box-sizing: border-box;

            .input__0ed4f {
                margin-top: 2px;
            }
        }

        >div:not(.searchBarContainer__409aa, .emptySearchResultsContainer_cf016e) {
            background: linear-gradient(to top, color-mix(in oklab, var(--background-base-lower), black 15%), color-mix(in oklab, var(--background-base-lower), white 1%)) !important;
            border: 1px solid var(--_aider-border-dark);
            box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
            padding: 10px 5px 0px;
            margin: -5px 6px 0px 5px;
        }
    }
}

.modal_e44912 {
    border: 0px;
}

.container__23ba6>.content_e9e3ed {
    background: color-mix(in oklab, var(--background-base-lower), black 5%);
    border-right: 1px solid var(--_aider-border-dark);
    border-bottom: 1px solid var(--_aider-border-dark);
    box-shadow: -1px -1px 1px 0px inset var(--border-subtle);
    position: relative;

    .contentHeader_e9e3ed {
        width: calc(100% + 1px);
        box-sizing: border-box;
    }
}

/* Guildinvites ------------------- */
.container_d3846c {
    border-radius: 0px;
    box-shadow: var(--shadow-high);

    .container_dca174 {
        background: linear-gradient(to bottom, color-mix(in oklab, var(--background-base-lower), white 5%), var(--background-base-lower) calc(var(--custom-channel-header-height) / 2 + 120px)) !important;
        border-radius: 0px;
        border: 1px solid var(--_aider-border-dark, rgba(0, 0, 0, 0.5));
        box-shadow: 0px 0px 1px 1px inset var(--border-subtle);

        &::after {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            /* background: red; */
            z-index: 2;
            pointer-events: none;
            content: "";
            position: absolute;
            inset: -1px;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px 3px 3px -2px rgba(255, 255, 255, 0.25), inset 0px 24px 12px -12px rgba(255, 255, 255, 0.125), inset 0px -3px 3px -2px rgba(0, 0, 0, 0.25);
        }
    }
}

.svg__2338f {
    contain: none;
    overflow: visible;

    >foreignObject {
        mask: none;
        contain: none;
        overflow: visible;

        .avatarWrapper_dca174 {
            &::after {
                content: "";
                position: absolute;
                inset: -1px;
                width: 100%;
                height: 100%;
                z-index: 1;

                border: 1px solid var(--_aider-border-dark, rgba(0, 0, 0, 0.5));
                box-shadow: inset 0px 5.25px 5.25px -3.5px rgba(255, 255, 255, 0.25), inset 0px 24px 12px -12px rgba(255, 255, 255, 0.125), inset 0px -3px 3px -2px rgba(0, 0, 0, 0.25);
                font-weight: 450;
                color: white;
            }

            img {
                position: relative;
                width: 72px;
                height: 72px;
                inset: -4px;
            }
        }
    }
}


/* Debug ----------- */

div[data-debug-key="design_tools"] {
    display: flex;
    flex-direction: column;

    >.stack_dbd263 {
        display: contents;


        .headerTitle__450f6 {
            display: flex;
            flex-direction: column;
            align-items: start;

            &::after {
                content: "This page is to figure out which parts of Aider are here, for debug purposes. ";
                font-size: 16px;
            }
        }
    }
}

[data-list-item-id="settings-sidebar___design_tools"] {
    font-size: 0px !important;

    &::after {
        font-size: 16px;
        content: "Aider";
    }
}

[data-debug-key="design_tools"] .headerTitle__450f6>h1 {
    font-size: 0px !important;

    &::before {
        content: "Aider";
        font-size: 24px;
    }
}

[data-debug-key="css_debugging"] {
    >.stack_dbd263 {
        display: none;
    }

    &::before {
        content: "Main Loaded!";
        order: 1;
    }
}