/* Basic color patchall styles (thank you very much discord) */
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

@font-face {
    font-family: 'Helvetica Neue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    src: url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
}

.theme-dark {
    --custom-theme-base-color: hsl(0, 0%, 3.75%);
    --custom-theme-base-color-amount: 100%;
    --custom-theme-text-color: color-mix(in oklab,
            var(--custom-theme-base-color),
            var(--text-primary, white) 85%);
    --custom-theme-text-color-amount: 100%;
    --border-subtle: color-mix(in oklab,
            var(--custom-theme-base-color),
            var(--text-primary, white) 15%);
    --border-faint: color-mix(in oklab,
            var(--custom-theme-base-color),
            blue 90%);
    --_aider-border-dark: rgba(0, 0, 0, 0.5);

    --font-primary: 'Helvetica Neue', gg sans;

    nav._5e434347c823b592-guilds,
    ._960e4207cea8323e-bg {
        background: color-mix(in oklab, var(--background-base-lower), black 20%);
    }

    .f75fb00fb7356cbe-chatContent {
        background: color-mix(in oklab, var(--background-base-lower), black 15%);
    }
}


.theme-light {
    --custom-theme-base-color: hsl(0, 0%, 3.75%);
    --custom-theme-base-color-amount: 7.5%;
    --custom-theme-text-color: color-mix(in oklab,
            var(--custom-theme-base-color),
            black 85%);
    --custom-theme-text-color-amount: 100%;
    --border-subtle: color-mix(in oklab,
            var(--custom-theme-base-color),
            white 90%);
    --border-faint: color-mix(in oklab,
            var(--custom-theme-base-color),
            blue 90%);

    --font-primary: 'Helvetica Neue', gg sans;
    --_aider-border-dark: rgba(0, 0, 0, 0.2);

    nav._5e434347c823b592-guilds,
    ._960e4207cea8323e-bg {
        background: color-mix(in oklab, var(--background-base-lower), black 7.5%);
    }

    .f75fb00fb7356cbe-chatContent {
        background: color-mix(in oklab, var(--background-base-lower), black 7.5%);
    }
}



/* Subtitle --------------------------- */


.f75fb00fb7356cbe-title {
    padding: 0px;
    background: linear-gradient(to top, var(--background-base-lower), color-mix(in oklab, var(--background-base-lower), white 5%)) !important;
    border: 1px solid var(--_aider-border-dark);
    box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
}

._9293f6b2fc12398a-children>div>.f75fb00fb7356cbe-avatar {
    height: var(--custom-channel-header-height) !important;
    width: var(--custom-channel-header-height) !important;

    >._44b0c28be7879b7b-svg {

        contain: none !important;
        overflow: visible !important;
        mask: none;
        height: var(--custom-channel-header-height);
        width: var(--custom-channel-header-height);

        >foreignObject[mask="url(#svg-mask-avatar-status-round-20)"] {
            scale: 1.25;
            contain: none !important;
            overflow: visible !important;
            mask: none;
            mask-image: linear-gradient(to right, black, transparent);
        }

        g {
            opacity: 0;
        }

    }
}

._9293f6b2fc12398a-titleWrapper {
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);

    &::after {
        line-height: 1;
        padding: var(--space-xxs) var(--space-xxs) calc(var(--space-xxs) / 1.25);
        border: 1px solid var(--_aider-border-dark);
        box-shadow: inset 0px 4px 6px -3px rgba(255, 255, 255, 0.5), inset 0px -1px 2px var(--_aider-border-dark);
        font-weight: 450;
        color: white;
    }
}

/* ~~ */
._9293f6b2fc12398a-children:has(>div>.f75fb00fb7356cbe-avatar>._44b0c28be7879b7b-svg>g>rect[mask="url(#svg-mask-status-dnd)"]) ._9293f6b2fc12398a-titleWrapper::after {
    content: "DO NOT DISTURB";
    background: var(--status-danger);
}

._9293f6b2fc12398a-children:has(>div>.f75fb00fb7356cbe-avatar>._44b0c28be7879b7b-svg>g>rect[fill="#82838b"]) ._9293f6b2fc12398a-titleWrapper::after {
    content: "OFFLINE";
    background: #82838b;
}

._9293f6b2fc12398a-children:has(>div>.f75fb00fb7356cbe-avatar>._44b0c28be7879b7b-svg>g>rect[mask="url(#svg-mask-status-online)"]) ._9293f6b2fc12398a-titleWrapper::after {
    content: "ONLINE";
    background: var(--status-positive);
}

._9293f6b2fc12398a-children:has(>div>.f75fb00fb7356cbe-avatar>._44b0c28be7879b7b-svg>g>rect[mask="url(#svg-mask-status-idle)"]) ._9293f6b2fc12398a-titleWrapper::after {
    content: "IDLE";
    background: var(--status-warning);
}

/* ~~ */

._9293f6b2fc12398a-children::after {
    background: linear-gradient(to top, var(--background-base-lower), color-mix(in oklab, var(--background-base-lower), white 5%)) !important;
    mask-image: linear-gradient(to left, black, transparent);
}

._9293f6b2fc12398a-children {
    &:has(._9293f6b2fc12398a-channelIcon) {
        ._9293f6b2fc12398a-channelIcon {
            position: absolute;
            scale: 3;
            left: 10px;
            bottom: 0px;
            z-index: -1;
            mask-image: linear-gradient(to bottom, var(--_aider-border-dark), transparent 80%);
        }

        ._9293f6b2fc12398a-titleWrapper {
            padding-left: calc(var(--space-sm) * 1.5);
        }
    }


    &:has(._9293f6b2fc12398a-caret) {
        ._9293f6b2fc12398a-channelIcon:first-of-type {
            display: none;
        }

        ._9293f6b2fc12398a-titleWrapper:last-of-type {
            padding-left: var(--space-xs);
        }
    }
}


/* Profiles ------------------------------------------------- */
.c0bea05627c5dc35-outer {
    overflow: visible;
    border-radius: 0px;
    box-shadow: var(--shadow-high);
    border: 1px solid var(--aider-border-dark);

    .c0bea05627c5dc35-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: var(--space-md) var(--space-md) var(--space-xxs);
        overflow: visible;
        border-radius: 0px;

        ._5be3ef42f92174b2-header,
        ._5be3ef42f92174b2-body {
            display: contents;
        }

        ._68edb95846a37624-mask {
            position: absolute;
            /* display: none; */
            left: 0px;
            top: 0px;
            z-index: 0;
        }

        ._75742e4cc9019aeb-avatar {
            position: relative;
            inset: 0;
            width: calc(80px + var(--space-xs));
        }

        .ab86098b36386ff7-referenceContainer {
            display: none;
        }

        ._63ed30c16c7151f2-container {
            width: calc(100% - 80px - var(--space-md));
            z-index: 1;
        }

        ._5be3ef42f92174b2-footer {
            width: 100%;
            padding: 0px;
            padding-bottom: calc(var(--space-xs) * 1.25);
        }

        ._9d59731d47494e97-container {
            width: 100%;
        }

        ._68edb95846a37624-mask>foreignObject {
            mask: none;
            mask-image: linear-gradient(to bottom, black, transparent);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            /* background: red; */
            z-index: 2;
            pointer-events: none;
            content: "";
            position: absolute;
            inset: -1px;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px 3px 3px -2px rgba(255, 255, 255, 0.25), inset 0px 24px 12px -12px rgba(255, 255, 255, 0.125), inset 0px -3px 3px -2px rgba(0, 0, 0, 0.25);
        }
    }
}

/* Buttons --------------------------------------- */

.a22cb0c66246f5d3-button {
    border-radius: 0px;
    transition: all 0.15s ease !important;

    &.a22cb0c66246f5d3-primary {
        background: linear-gradient(to bottom, color-mix(in oklab, var(--control-primary-background-default), white 25%), var(--control-primary-background-default) calc(var(--custom-channel-header-height) / 2)) !important;
        border: 1px solid color-mix(in oklab, color-mix(in oklab, var(--control-primary-background-default), black 50%), transparent);
        box-shadow: 0px 0px 1px 1px inset color-mix(in oklab, color-mix(in oklab, var(--control-primary-background-default), white 50%), transparent);
    }

    &.a22cb0c66246f5d3-critical-primary {
        background: linear-gradient(to bottom, color-mix(in oklab, var(--control-critical-primary-background-default), white 25%), var(--control-critical-primary-background-default) calc(var(--custom-channel-header-height) / 2)) !important;
        border: 1px solid color-mix(in oklab, color-mix(in oklab, var(--control-critical-primary-background-default), black 50%), transparent);
        box-shadow: 0px 0px 1px 1px inset color-mix(in oklab, color-mix(in oklab, var(--control-critical-primary-background-default), white 50%), transparent);
    }

    &.a22cb0c66246f5d3-secondary,
    &.a22cb0c66246f5d3-critical-secondary {
        background: linear-gradient(to bottom, color-mix(in oklab, var(--control-secondary-background-default), white 15%), var(--control-secondary-background-default) calc(var(--custom-channel-header-height) / 2)) !important;
        border: 1px solid color-mix(in oklab, color-mix(in oklab, var(--control-secondary-background-default), black 30%), transparent);
        box-shadow: 0px 0px 1px 1px inset color-mix(in oklab, color-mix(in oklab, var(--control-secondary-background-default), white 30%), transparent);
    }

    &:active {
        transform: translateY(1px);
        filter: brightness(0.95);
    }
}

/* Debug ----------- */

div[id="developer_options_design_tools_tab-tab"] {
    display: flex;
    flex-direction: column;
    &::before {
        content: "Main Loaded!";
    }

    >fieldset {
        display: contents;

        >legend {
            font-size: 0;
            order: -1;

            &::before {
                content: "This page is to figure out which parts of Aider are here, for debug purposes. ";
                font-size: 16px;
            }
        }
    }
}


[aria-controls="developer_options_design_tools_tab-tab"], [aria-label="Design Tools"] {
    font-size: 0px!important;
    padding-left: 6px;
    &::before {
        content: "Aider";
        font-size: 14px;
    }
}