/* Profiles ------------------------------------------------- */
.animatorLeft_faf9c0 {
    transition: none !important;
    transform: none !important;
}

.outer_c0bea0.user-profile-popout {
    box-shadow: var(--shadow-high);
    border: 1px solid var(--_aider-border-dark);

    .inner_c0bea0 {
        overflow: visible;
        background: transparent;

        &::after {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            /* background: red; */
            z-index: 0;
            pointer-events: none;
            content: "";
            position: absolute;
            inset: -1px;
            width: 100%;
            height: 100%;
            box-shadow:
                inset 0px 3px 3px -2px rgba(255, 255, 255, 0.125),
                inset 0px 0px 0px 1px rgba(255, 255, 255, 0.0625),
                inset 0px 24px 12px -12px rgba(255, 255, 255, 0.0625),
                inset 0px -3px 3px -2px rgba(0, 0, 0, 0.25);
        }

        div:has(>.displayNameRow__26b1f) {
            display: contents;
        }

        .displayNameRow__26b1f {
            position: absolute;
            bottom: calc(100% + var(--space-xs));
            margin-left: calc(80px + var(--space-xxs));
        }

        .usernameAndPronounsRow__26b1f {
            margin-left: calc(80px + var(--space-xxs));
            margin-bottom: var(--space-xxs);
            top: calc(0px - var(--space-xs));
        }

        .body__5be3e {
            overflow: visible !important;
            margin-top: calc(0px - 35px);
        }
    }

    .avatar__75742 {
        top: calc(var(--custom-user-profile-banner-height) - 45px);
        z-index: 1;
    }

    .container_ab8609,
    .referenceContainer_ab8609 {
        position: absolute;
        top: calc(0px - var(--custom-user-profile-banner-height) * 0.95);
        left: -5px;
        z-index: 1;

        .outer_ab8609 {
            &::before {
                top: unset;
                bottom: 24px;
                left: 0;
            }

            &::after {
                top: unset;
                bottom: 10px;
                left: 15px;
            }
        }
    }

    .avatar__75742>* {
        border-radius: 0px;
        backdrop-filter: blur(20px);
    }

    .mask__68edb {
        mask: none;
        overflow: visible;
        contain: none;

        >foreignObject {
            mask: none;
            overflow: visible;
            contain: none;
        }
    }

    .bannerButton_fb7f94 {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25), inset 0px 1px 1px 0.25px rgba(255, 255, 255, 0.25);
        border: 0px;
    }
}


@container style(--aider-banner-slant: true) {
    .outer_c0bea0.user-profile-popout {

        .mask__68edb {
            position: absolute;
            z-index: -1;
            top: calc(0px - var(--custom-user-profile-banner-height) * 0.95 + 10px);
            scale: 0.95;
            transform-origin: top center;

            >foreignObject {
                perspective: 400px;

                .banner__68edb {
                    transform-origin: bottom center;
                    transform: rotateX(-10deg);
                    box-shadow: inset 0px -80px 30px -30px rgba(0, 0, 0, 0.5), inset 0px 1px 1px 0.25px rgba(255, 255, 255, 0.25);
                    transition: transform 0.3s ease-in-out;

                    @starting-style {
                        transform: rotateX(10deg);
                    }
                }
            }
        }

        .wrapper_da5890 {
            position: absolute;
            top: calc(0px - var(--custom-user-profile-banner-height) * 0.95 + 10px + var(--space-xs));
        }

        .header__5be3e {
            display: contents;
        }
    }

    .avatar__75742 {
        top: -45px !important;
        z-index: 1;
    }

    .displayNameRow__26b1f {
        position: absolute;
        bottom: calc(100% + var(--space-xs));
        margin-left: calc(80px + var(--space-xxs));
    }

    .usernameAndPronounsRow__26b1f {
        margin-left: calc(80px + var(--space-xxs));
        margin-bottom: var(--space-xxs);
    }

    .body__5be3e {
        margin-top: 0px !important;
    }
}


.outer_c0bea0.user-profile-modal-v2 {
    overflow: visible;
    border-radius: 0px;
    box-shadow: var(--shadow-high);
    border: 1px solid var(--aider-border-dark);
    padding: 0px;

    .inner_c0bea0 {
        padding: 0px;
        overflow: visible;
        border-radius: 0px;

        .header__5be3e,
        .body__5be3e {
            display: contents;
        }

        .mask__68edb {
            position: absolute;
            /* display: none; */
            left: 0px;
            top: 0px;
            z-index: 0;
        }

        .avatar__75742 {
            position: relative;
            inset: 0;
            width: calc(80px + var(--space-xs));
        }

        .referenceContainer_ab8609 {
            position: absolute;
        }

        .container__63ed3 {
            width: calc(100% - 80px - var(--space-md));
            z-index: 1;

            .usernameRow__63ed3 {
                display: flex;

                >.clickableUsername__63ed3 {
                    display: inline-block;
                    width: 100%;

                    &::before {
                        content: "";
                        margin-left: 20px;
                    }

                    .nickname__63ed3 {
                        display: inline;
                    }
                }
            }
        }

        .mask__44b0c>g>rect {
            x: 93;
            y: 4;
        }

        .footer__5be3e {
            width: 100%;
            padding: 0px;
            padding-bottom: calc(var(--space-xs) * 1.25);
        }

        .container__9d597 {
            width: 100%;
        }

        .mask__68edb {
            >foreignObject {
                mask: none;
                mask-image: linear-gradient(to bottom, black, transparent);
            }
        }

        .container_ab8609 {
            top: 100px;
            z-index: 3;
            left: 100px;
        }

        .profileHeader__9c3be {
            min-height: 0px;
            padding: var(--space-md);
            padding-bottom: 20px;
        }

        .mask__68edb {
            position: fixed;
            /* the fact that this just works automagically is a fucking godsend */
        }

        .profile__9c3be {
            padding: var(--space-xs);
            background: transparent;
        }

        .container__37bfc {
            padding: var(--space-xs);
            padding-top: var(--space-xxl);
        }

        .profileButtons__9c3be {
            button {
                padding: var(--space-xxs);
            }

            .primary_a22cb0 {
                flex: 1;
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            /* background: red; */
            z-index: 2;
            pointer-events: none;
            content: "";
            position: absolute;
            inset: -1px;
            width: 100%;
            height: 100%;
            box-shadow:
                inset 0px 3px 3px -2px rgba(255, 255, 255, 0.25),
                inset 0px 24px 12px -12px rgba(255, 255, 255, 0.125),
                inset 0px -3px 3px -2px rgba(0, 0, 0, 0.25);
        }

        .wrapper__0c74f {
            position: absolute;
            right: -16px;
            top: 8px;
            flex-direction: column;

            >span>.bannerButton_fb7f94 {
                background: color-mix(in oklab,
                        var(--profile-gradient-modal-background-color),
                        transparent 75%);
                box-shadow: inset 0px 0px 4px var(--profile-gradient-modal-background-color);
                backdrop-filter: blur(4px);
                /* border: 1px solid color-mix(in oklab, var(--border-subtle), transparent 50%); */
                padding: 1px;
                box-sizing: content-box;

                >svg {
                    /* color: var(--text-default); */
                }
            }
        }
    }
}
