.sidebarList__5e434 {
    background: linear-gradient(
        to bottom,
        color-mix(in oklab, var(--background-base-lower), white 5%),
        var(--background-base-lower)
            calc(var(--custom-channel-header-height) / 2)
    ) !important;
    border-radius: 0px;
    border: 1px solid var(--_aider-border-dark, rgba(0, 0, 0, 0.5));
    box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
}

.privateChannels_e6b769,
.scroller__99e7c,
.container__2637a {
    background: transparent;
}

.searchBar_e6b769 {
    display: flex;

    height: 46px;
    padding: var(--space-xs) var(--space-xs);
    gap: var(--space-sm);
    align-items: center;

    &::after {
        content: "Direct Messages";
        color: var(--text-default);
        font-size: 18px;
        font-weight: 500;
        margin-left: var(--space-xxs);
        width: calc(100% - 32px * 1.75);
    }

    .button_a22cb0 {
        width: 32px;
        max-width: 32px;
        min-width: 0px;
        order: 1;
    }
}

.scroller__629e4 {
    padding-inline-end: 0px !important;
    padding: 0px !important;
    margin: 0px !important;

    &::-webkit-scrollbar {
        width: 0px !important;
        height: 0px !important;
    }

    .wrapper__2ea32 {
        padding: 0px;
        margin: 0px;

        .link__2ea32 {
            padding-left: calc(var(--space-sm) * 1.25);
        }
    }
}

/* Guilds -------------- */

.shiftSVG_cc5dd2 {
    contain: none;
    overflow: visible;

    > foreignObject {
        mask: none;
        contain: none;
        overflow: visible;

        .wrapper__6e9f8::after {
            content: "";
            position: absolute;
            inset: -1px;
            width: 100%;
            height: 100%;

            border: 1px solid var(--_aider-border-dark, rgba(0, 0, 0, 0.5));
            box-shadow:
                inset 0px 3px 3px -2px rgba(255, 255, 255, 0.25),
                inset 0px 24px 12px -12px rgba(255, 255, 255, 0.125),
                inset 0px -3px 3px -2px rgba(0, 0, 0, 0.25);
            font-weight: 450;
            color: white;
        }
    }
}

.folderGroupBackground__48112 {
    border-radius: 0px;
}

.wrapper__58105 {
    overflow: visible;
    pointer-events: none;

    .item__58105 {
        scale: 0.8;
        left: 6px;
        transform: scaleX(0.4) !important;
        border-radius: 8px;
        box-shadow: 12px 0px 20px 0.5px white;
    }
}

.unread__2ea32,
.unreadPill__972a0 {
    scale: 0.8;
    /* left: -5px; */
    margin: -4px 0px 0px 12px;
    transform: scaleX(0.7) !important;
    border-radius: 8px;
    box-shadow: 7px 0px 14px 0.5px white;
}

.numberBadge__2b1f5 {
    border: 1px solid var(--red-700);
    box-shadow:
        inset 0px 0px 0px 1px var(--red-360),
        0px 0px 7px -1px var(--red-500);
    padding: 0.3px !important;
    box-sizing: content-box;
    background: linear-gradient(to bottom, var(--red-400), var(--red-500));
}

/* Userpanel ------------------------------------ */
.panels__5e434 {
    border-radius: 0px;
    border: 0 !important;
    border-top: 1px solid var(--_aider-border-dark) !important;
    box-shadow: inset 0px 1px 0px 0px var(--border-subtle);
    bottom: 0px;
    left: 0px;
    width: calc(100% - 2px);

    .container__37e49 {
        flex-direction: column;
        container-type: normal;
        height: auto;
        align-items: start;
        padding: 4px;
        gap: 4px;

        .avatarWrapper__37e49 {
            padding: var(--space-xs) calc(var(--space-xs) * 1.25);
            width: calc(100% + var(--space-xs));
            box-sizing: border-box;
        }

        .buttons__37e49 {
            /* margin: 0 var(--space-xxs) var(--space-xxs); */
            gap: 0px;
            width: calc(100%);

            .button__67645 {
                flex: 1;
                border-radius: 0px;
                background: linear-gradient(
                    to bottom,
                    color-mix(in oklab, var(--background-base-lower), white 5%),
                    var(--background-base-lower)
                        calc(var(--custom-channel-header-height) / 2)
                ) !important;
                border: 1px solid
                    color-mix(
                        in srgb,
                        var(--background-base-lowest),
                        transparent
                    );
                box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
                transition: all 0.3s ease;

                &.redGlow__67645 {
                    background: linear-gradient(
                        to bottom,
                        color-mix(
                            in oklab,
                            var(--background-base-lower),
                            var(--red-400) 35%
                        ),
                        color-mix(
                                in oklab,
                                var(--background-base-lower),
                                var(--red-600) 35%
                            )
                            calc(var(--custom-channel-header-height) / 2)
                    ) !important;
                    border: 1px solid
                        color-mix(in srgb, var(--red-800), transparent);
                    box-shadow:
                        0px 0px 1px 1px inset
                            color-mix(in srgb, var(--red-300), transparent 80%),
                        0px -4px 10px -2px
                            color-mix(in srgb, var(--red-500), transparent 60%),
                        0px -5px 10px -7px
                            color-mix(in srgb, var(--red-360), transparent 60%);
                }

                &:active {
                    transform: translateY(1px);
                }
            }

            .buttonChevron__5e764 {
                flex: 0 !important;
            }

            .audioButtonParent__5e764 {
                display: contents !important;
            }
        }
    }
}

/* Avatars -------------- */
.mask__44b0c {
    overflow: visible;
    contain: none;

    > foreignObject {
        mask: none;
        overflow: visible;
        contain: none;

        &::after {
            content: "";
            position: absolute;
            inset: -1px;
            width: 100%;
            height: 100%;

            border: 1px solid var(--_aider-border-dark, rgba(0, 0, 0, 0.5));
            box-shadow:
                inset 0px 3px 3px -2px rgba(255, 255, 255, 0.25),
                inset 0px 24px 12px -12px rgba(255, 255, 255, 0.125),
                inset 0px -3px 3px -2px rgba(0, 0, 0, 0.25);
            font-weight: 450;
            color: white;
        }

        .avatar__44b0c {
            border-radius: 0px;
        }
    }

    > g > rect {
        position: absolute;
        x: 44;
        y: 10;
        rx: 10;
        ry: 10;
    }
}

.layout__20a53:has(.content__20a53 > .subText__20a53)
    .avatar__20a53
    > .wrapper__44b0c
    > .mask__44b0c
    > g
    > rect,
.layout__91a9d:has(.content__91a9d > .subText__91a9d > div)
    .avatar__91a9d
    > .wrapper__44b0c
    > .mask__44b0c
    > g
    > rect {
    y: 3;
}

.accountPopoutButtonWrapper__37e49 .avatar__37e49 > .mask__44b0c > g > rect {
    y: 3;
}

.avatarWrapper__37e49 .avatar__37e49 > .mask__44b0c > g > rect {
    y: 1.5;
}

.nameAndDecorators__20a53,
.nameAndDecorators__91a9d {
    margin-left: 14px;
}

.panelTitleContainer__37e49 {
    margin-left: 18px;
}

.sidebar__5e434::after {
    display: none;
}

/* channel selected */

.selectedChannel_c69b6d {
    .link__2ea32 {
        background: color-mix(
            in oklab,
            transparent 95%,
            var(--brand-500)
        ) !important;
        box-shadow: 0px -20px 20px -5px inset
            color-mix(in oklab, transparent 87.5%, var(--brand-500));

        > .linkTop__2ea32 > * {
            filter: drop-shadow(0px 0px 5px var(--brand-700))
                drop-shadow(0px 0px 1px var(--brand-800));
        }
    }
}

/* Debug ----------- */

[data-debug-key="layout_debugging"] {
    > .stack_dbd263 {
        display: none;
    }
    &::before {
        content: "Sidebar Loaded!";
        order: 1;
    }
}
